html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Baloo 2', 'cursive';
    color: white;
    background-color: rgb(24, 24, 24);
}

.heading{
    color: rgb(217, 4, 107);
}

.container {
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 493px;
    width: 282px;
    border-radius: 25px;
    background-color: rgb(24, 24, 24);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    /* background-image: linear-gradient(to bottom left, #240b36,#c31432); */
}

.button {
    padding: 20px;
    margin: 0px 3px;
    /* border: 2px solid black; */
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'baloo 2';
    width: 55px;
    background-color: rgb(79, 74, 74);
    color: white;
}

.button:hover{
    background-color:rgb(104, 103, 103) ;
}

.row {
    margin: 8px;
    /* padding: 45px; */
}

.row input{
    font-size: 19px;
    margin: 0;
    padding: 15px 3px;
    border-style: none;
    border-radius: 12px;
    /* background-color: rgb(24, 24, 24); */
    background-color: black;
    color: white;
}