.text-center {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

/* .bg-red{
    background: red;
} */

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}


.looks {
    background-image: linear-gradient(#12c2e9,#c471ed,#f64f59);
    color: whitesmoke;
}



.right_side_btn {
    background-image: linear-gradient(to right,#CB356B,#BD3F32);
}


.red{
    background-color: rgb(205, 15, 62);
    color: white
}

.red:hover{
    background-color: rgb(255, 1, 81);
    color: whitesmoke;
}


.top{
    background-color: rgb(91, 89, 89);
    color: black;
}

.c{
    background-image: linear-gradient(to bottom right,#b92b27,#1565C0);
}
